scripts/.env
ssh/config
vscode
reaper/Scripts/Cockos
reaper/Effects
reaper/Data
reaper/Cusrors
reaper/reaper-install-rev.txt
reaper/ReaPack/cache
reaper/UserPlugins/reaper_reapack-x86_64.so
reaper/reaper-fxtags.ini
reaper/reaper-jsfx.ini
reaper/reaper-recentfx.ini
reaper/reaper-vstplugins64.ini
reaper/reaper-fxtags.ini
reaper/reaper-clap-linux-x86_64.ini
reaper/presets
reaper/MetadataCaches
reaper/ColorThemes
